 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 10px;
}
button{
  background-color: RGBA(0, 164, 0, 1);
  margin-top: 1rem;
}
button:hover{
    background-color:darkgreen;
}

// Header Nav
.top-bar{
  height: 3rem;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}
.top-bar .name a{
  color: black;
}
.name{
  a{
    background-color: RGBA(0, 164, 0, 1);
  }
}

// Map
.map { 
  width: 75%;
  border: 0.3rem double green;
  margin: 0 auto;
  margin-top: 3rem
}
.angular-google-map-container { height: 400px; }

// Main Welcome View
.welcome{
  width:100%;
  text-align: center;
  margin: 0 auto;
  .img{
    padding-top: 2rem;
  }
  img{
    width: 50%;
    border-radius: 2rem;
  }
  a{
    color: white;
  }
}

// Login
.login{
  text-align: center;
  margin-top: 2rem;
  form{
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  small{
    font-size: 1rem;
  }
}

// Register
.register{
  text-align: center;
  margin-top: 2rem;
  form{
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  small{
    font-size: 1rem;
  }
}

// Profile
.profile{
  a{
    color:white;
  }
  button{
  margin-left: 40%;
  }
}

// Game View
.createGame{
  h1{
    text-align: center;
  }
  form{
    width: 50%;
    margin: 0 auto;
    margin-top:2rem;

  }
}
.invite{
  width: 75%;
  margin: 0 auto;
  h1{
    text-align: center;
  }
  h3{
    text-align: center;
  }
  h4{
    padding: 0.5rem;
  }
  li{
    list-style: none;
    margin: 1rem;
  }
  button{
    margin-left: 45%;
  }
  li:hover{
    cursor: pointer;
    h4{
      color: white;
      background-color: #0493D9;
      padding: 0.5rem;
      border-radius: 1.5rem;
    }
  }
  small{
    float:right;
    margin-top: -1rem;
  }
}
.active{
  background-color: #0493D9;
  color: white;
  border-radius: 1.5rem;
  padding: 0.5rem;
}
.active:after{
  content: " . . . . . . . . . . . . . . . . Invited!";
  font-style: italic;
  font-size: 0.9rem;
}
// Game Map
.GameMap{
  width: 75%;
  border: 0.3rem double green;
  margin: 0 auto;
  margin-top: 3rem
}
.currentPlayers{
  h1{
    text-align: center;
  }
  ul{
    margin: 1% 12% 2% 12%;
  }
  li{
    list-style: none;
    padding: 0.5rem;
    margin: 1rem;
  }
}
.user{
  h4{
    border-bottom: 0.1rem solid lightgray;
    margin-bottom: 1rem;
    border-left: 1rem solid green;
    padding: 1rem;
  }
}
.scores{
  float:right;
  margin-top:-21rem;
}
h5{
  text-align:right;
  padding: 1.4rem;
  font-style: italic;
  color: green;
}
